@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Quicksand:wght@500&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
.animated-div {
    animation-name: move-up;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes move-up {
    0% {
        top: 50%;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    100% {
        top: 8%;
        left: 12%;
        background-color: transparent;
    }
}

@keyframes scale-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.animate-scale-in {
    animation: scale-in 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

}